<!-- Under the for loop that loops trough products, we define that product prop in child element is equal to item from loop -->
<div class="column gap-1">
  <!-- product list -->
  <div class="row wrap gap-1 space-between">
    <app-product
      *ngFor="let item of products"
      [product]="item"
      (productOutput)="onProductOutput($event)"
    ></app-product>
  </div>

  <!-- Pagination -->
  <p-paginator
    [rows]="rows"
    [totalRecords]="totalRecords"
    [rowsPerPageOptions]="[5, 10, 20]"
    (onPageChange)="onPageChange($event)"
  ></p-paginator>
</div>
